<footer id='footer'>
  <div class='contact'>
    <a href='mailto:prof@gatech.edu' class='bold'>prof@gatech.edu</a>
    <a href='https://goo.gl/maps/b5PEqrLJTgecvmer9'>756 West Peachtree St Northwest</a>
    <a href='https://goo.gl/maps/b5PEqrLJTgecvmer9'>Atlanta, GA 30308</a>
  </div>

  <div class='middle'>
    <div class='social'>
      <a href='https://www.linkedin.com/in/jacob-abernethy-5949533/'>
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href='https://scholar.google.com/citations?user=FDu4ciwAAAAJ&hl=en'>
        <i class="fas fa-graduation-cap"></i>
      </a>
      <a href={{ '/pdf/Resume.pdf' | relative_url }} download>
        <i class="fas fa-file"></i>
      </a>
    </div>
    <div class='copyright'>
      Copyright Jacob Abernethy 2019
    </div>
  </div>

  <div>
    <a href='https://www.gatech.edu/'>
      <img class='gt-logo' src={{'/assets/images/gt_logo-gold.png' | relative_url }}></img>
    </a>
  </div>
</footer>
