<div class="card sticky-action hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{ include.img | relative_url }}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">{{include.title}}<i class="material-icons right">more_vert</i></span>
    <p>{{include.author}}</p>
  </div>
  <div class="card-action">
    <a href="/flint">View My Flint Portfolio</a>
    <a href="{{include.link}}">View Article</a>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{include.reveal_title}}<i class="material-icons right">close</i></span>
    <p>{{include.reveal}}</p>
  </div>
</div>
