<div class="card hoverable">
  <div class="card-image">
    {% if include.link != null %}
      <a target="_blank" href="{{include.link | relative_url }}">
    {% else %}
      <a target="_blank" href="{{site.url}}{{site.baseurl}}/slides/{{include.slides}}/versions/v{{include.version}}">
    {% endif %}
      <img src="{{include.img | relative_url}}">
    </a>
  </div>
  <div class="card-content">
    <span class="card-title"><a href="{{include.loc_link | relative_url }}">{{include.loc_name}}</a></span>
    <p>{{include.description}}</p>
  </div>
</div>
