$grey-background: #EDEAEA;
$purple-highlight: #403E56;
$gold-highlight: #B3A465;
$light-grey-text: #B0B0B0;
$grey-text: #828282;
$dark-text: #3C3C3C;
$black-text: #000000;

body {
  background-color: $grey-background;
}

main {
  background-color: $grey-background;
  color: $black-text;

  a {
    text-decoration: underline;
    color: $purple-highlight;
  }

  h3, h2 {
    color: $grey-text;
  }
}

#publications {
  .comment {
    color: $gold-highlight;

    .line {
      border-top: 1px solid $gold-highlight;
      border-right: 1px solid $gold-highlight;
    }
  }

  .highlight {
    border-left: 1px solid $gold-highlight;
    border-right: 1px solid $gold-highlight;
    border-bottom: 1px solid $gold-highlight;
  }
}

#navbar {
  background-color: $grey-background;

  a {
    color: $black-text;

    &:hover {
      border-bottom: 5px solid $gold-highlight;
    }
  }

  .name {
    display: flex;
    flex-direction: column;

    a {
      color: $purple-highlight;

      &:hover {
        border-bottom: none;
      }
    }

    .big-underline {
      background-color: $gold-highlight;
    }
  }
}

#footer {
  background-color: $purple-highlight;
  color: $light-grey-text;

  .icon {
    color: $light-grey-text;
  }
}
