html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 10px 50px;
  flex: 1 0 auto;

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
      .big-underline {
        width: 185px;
        height: 10px;
      }

      &:hover .big-underline {
        width: 360px;
      }
    }
  }

  #card {
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 98.5%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #EDEAEA;
    }

    .text {
      color: black;
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .card-image {
      position: relative;
    }

    .card-image:hover .overlay {
      opacity: .7;
    }
  }

  #publications {
    margin: 50px 10%;

    .comment {
      display: flex;
      align-items: flex-end;

      .line {
        flex-grow: 1;
        height: 10px;
      }
    }

    .reference {
      display: flex;
      padding: 5px;

      .left {
        width: 90%;
      }

      .right {
        width: 10%;
        text-align: right;
        padding-right: 5px;
      }
    }

    ol {
       list-style-type: circle;
    }

    ol li {
      margin: 20px 0;
    }
  }

  #people {
    display: flex;
    flex-direction: column;
    margin: 50px 10%;

    .group {
      display: flex;
      flex-wrap: wrap;
    }

    #card {
      height: 375px;
      width: 300px;

      img {
        height: 300px;
        width: 300px;
      }

    }
  }

  #talks {
    display: flex;
    flex-direction: column;

    .group {
      display: flex;
      flex-wrap: wrap;
    }

    #card {
      height: 500px;
      width: 400px;

      img {
        height: 300px;
        width: 400px;
      }

      .card-image:hover .overlay {
        opacity: 1;
      }
    }
  }

  #card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  #landing {
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
    margin: 0 10%;

    .left-section {
      .profile-pic {
        width: 300px;
      }
    }
    .right-section {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 100px;

      .section-view-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .bibliography {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

#footer {
  font-size: 14px;
  padding: 10px 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contact {
    display: flex;
    flex-direction: column;
  }

  .middle {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .social {
      font-size: 16px;
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
    }

    .copyright {
      font-size: 11px;
    }
  }

  .gt-logo {
    width: 100px;
    height: 100%;
  }
}
