html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 10px 50px;
  flex: 1 0 auto;

  #flint {
    margin: 50px 10%;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
      .big-underline {
        width: 185px;
        height: 10px;
      }

      &:hover .big-underline {
        width: 360px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 40%;
    }
  }

  #card {
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 98.5%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #EDEAEA;
    }

    .text {
      color: black;
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .card-image {
      position: relative;
    }

    .card-image:hover .overlay {
      opacity: .7;
    }
  }

  #teaching {
    margin: 50px 10%;

    .table {
      display: flex;
      flex-direction: column;

      .table-header {
        display: flex;
        justify-content: space-evenly;
      }

      .number { width: 15%; }
      .name { width: 40%; }
      .institution { width: 20%; }
      .year { width: 15%; }
      .view { width: 10%; }

      .table-rows {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .table-row {
          display: flex;
          justify-content: space-evenly;
          padding: 10px 0
        }
      }
    }

  }

  #publications {
    margin: 50px 10%;

    .comment {
      display: flex;
      align-items: flex-end;

      .line {
        flex-grow: 1;
        height: 10px;
      }
    }

    .reference {
      display: flex;
      padding: 5px;

      .left {
        width: 90%;
      }

      .right {
        width: 10%;
        text-align: right;
        padding-right: 5px;
      }
    }

    ol {
       list-style-type: circle;
    }

    ol li {
      margin: 20px 0;
    }
  }

  #people {
    display: flex;
    flex-direction: column;
    margin: 50px 10%;

    .group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #card {
      height: 375px;
      width: 300px;

      img {
        height: 300px;
        width: 300px;
      }

    }
  }

  #talks {
    display: flex;
    flex-direction: column;

    .group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #card {
      height: 500px;
      width: 400px;

      img {
        height: 300px;
        width: 400px;
      }

      .card-image:hover .overlay {
        opacity: 1;
      }
    }
  }

  #card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  .no-top-margin {
    margin-top: 0;
  }

  #landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0;
    margin: 0 10%;

    .top-section {
      display: flex;
      justify-content: space-between;

      .profile-pic {
        width: 400px;
      }

      .intro {
        padding: 0 0 0 100px;
        font-size: 22px;
      }
    }

    .news-section {
      .news {
        display: flex;
        justify-content: space-between;
      }

      .news-item {
        width: 30%;
        padding: 10px;

        h5 {
          color: grey;
          font-weight: 300;
          margin-bottom: 0;
        }

        p {
          margin-top: 0;
        }
      }
    }

    .recent-pubs-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-bottom: 0;
      }
    }

    .comment {
      display: flex;
      align-items: flex-end;

      .line {
        flex-grow: 1;
        height: 10px;
      }
    }

    .reference {
      display: flex;
      padding: 5px;
    }

    ol {
       list-style-type: none;
    }

    ol li {
      margin: 20px 0;
    }
  }
}

#footer {
  font-size: 14px;
  padding: 10px 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contact {
    display: flex;
    flex-direction: column;
  }

  .middle {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .social {
      font-size: 16px;
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
    }

    .copyright {
      font-size: 11px;
    }
  }

  .gt-logo {
    width: 100px;
    height: 100%;
  }
}
