// Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Nunito:300,400,800&display=swap');

// Font variables
$nunito: 'Nunito', sans-serif;
$montserrat: 'Montserrat', sans-serif;

body {
  font-family: $nunito;
  font-weight: 400;
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

h1, h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0;
  font-weight: 800;
  font-size: 20px;
}

main {
  .table-rows {
    font-family: $montserrat;
    font-weight: 400;
  }

  #talks, #teaching, #publications, #people {
    a {
      font-family: $nunito;
      font-weight: 800;
    }
  }
}

.bibliography .reference {
  .left {
    font-family: $montserrat;
    font-weight: 400;
  }
}

.table-header {
  font-weight: 300;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 12px;
}


#landing {
  .publications {
    font-size: 13px;
  }

  p {
    font-family: $montserrat;
    font-weight: 400;
  }
}

#card {
  .card-subtitle {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
  }

  .overlay .text {
    width: 200px;
    font-family: $montserrat;
    font-weight: 400;
  }
}

#navbar {
  a {
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
  }

  .name a {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

#footer {
  a {
    text-decoration: none;
    color: inherit;
  }
}
