h1 {
  font-family: 'Black Han Sans';
  font-size: 50px;
  color: #C25B56;
}

h4 {
  color: #EEEEEE;
  font-family: Raleway;
  font-size: 18px;
  font-STDOUTyle: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px.4px;
  margin-top: 0px;
}

h5 {
  color: #ADD6E9;
  font-family: Raleway;
  font-size: 10px;
  padding: 3px;
  margin: 0;
}

#home {
  background: #30415D;
}

.tabs {
  background: #30415D;
}

.tabs .tab a {
  color: #ADD6E9;
}

.tab a:hover {
  color: #C25B56;
}

.tab .active {
  font-family: 'Black Han Sans';
  color: #C25B56;
}

.indicator {
  display: none;
}

img {
  width: 70%;
  float: right;
}

.contact {
  text-align: right;
  float: right;
  display: inline-block;
  margin-top: 3px;
}

.email {
  padding-bottom: 7%;
}

.name {
  right: 21% !important;
}
