body {
  background: #f9f9f9;
}

h1 {
  font-family: 'Black Han Sans';
  font-size: 50px;
  color: #C25B56;
}

h4 {
  color: #EEEEEE;
  font-family: Raleway;
  font-size: 18px;
  font-STDOUTyle: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 0px;
}

h5 {
  color: #ADD6E9;
  font-family: Raleway;
  font-size: 10px;
  padding: 3px;
  margin: 0;
}

#landing {
  background: #30415D;
}

.tabs {
  background: #30415D;
}

.tabs .tab a { color: #ADD6E9; text-overflow: unset; } 
.tab a:hover {
  color: #C25B56;
}

.tab .active {
  font-family: 'Black Han Sans';
  color: #C25B56;
}

.indicator {
  display: none;
}

.heading img {
  width: 320px;
  float: right;
}

.contact {
  text-align: right;
  float: right;
  display: inline-block;
  margin-top: 3px;
}

.email {
  padding-bottom: 7%;
}

.name {
  right: 21% !important;
}

.section {
  padding-bottom: 0;
}

.vl {
  border-left: 1px solid white;
}

.tabs .tab {
  height: 35px;
  line-height: 35px;
}

.custom-col {
  width: 16.667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.heading {
  padding-bottom: 4%;
}

#publications .bibliography li {
  padding-bottom: 2%;
}

#publications h2, #group h1, #talks h1, #fun_facts h1, #home h1, #teaching h1 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway';
  font-size: 30px;
  color: black;
  padding-bottom: 1%;
  margin-left: 3%;
  clear: left;
}

#group h1:not(:first-child) {
  padding-top: 7%;
}

#group ul, #publications ol, #teaching table {
  margin-left: 7%;
}

#teaching table {
  width: 85%;
}

#teaching a {
  background-color:#C25B56;
}

#publications a {
  background-color:#C25B56;
}

#group li {
  padding-bottom: 2%;
}

#group li a {
  color: black;
  text-decoration: underline;
}

.heading a {
  color: white;
  text-decoration: underline;
}

h4.about {
  width: 85%;
}

.gallery-team .desc {
  text-align: center;
}

div.gallery-team img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 20px #ccc;
}

div.gallery-team img {
  width: 100%;
  height: 200px;
}

div.gallery-team {
  margin: 40px;
  float: left;
  width: 200px;
}

.gallery-team .team-name {
  padding-bottom: 5px;
}

.btn-small {
  height: 25px;
  line-height: 25px;
  padding: 0 .5rem;
}

#group .card {
  width: 200px;
  float: left;
  margin: 40px;
}

.card .card-content {
  padding: 15px;
}

.former {
  height: 380px;
}

.current {
  height: 291px;
}

#talks .card {
  margin: 30px;
  float: left;
  width: 310px;
  height: 387px;
}

.card .card-title {
  font-size: 20px;
}

div.gallery {
  margin: 30px;
  float: left;
  width: 300px;
  height: 297px;
}

div.gallery img {
  width: 100%;
  height: 195px;
}

div.gallery img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.gallery .desc {
  padding: 15px;
  text-align: center;
}

.gallery .desc a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.collapse:hover {
  cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  padding-left: 1%;
}

.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(150, 150, 150, 0.5);
}

.page-footer img {
  float: left;
  width: 60px;
}

.page-footer a {
  color: #C25B56;
}

.page-footer .content {
  padding-left: 4%;
  padding-right: 4%;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(48, 65, 93, 0.65);
}

@media only screen and (max-width: 1559px) {
  .container {
    width: 75%;
  }

}

@media only screen and (max-width: 1450px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 1370px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 1166px) {
  .container {
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
  }

  footer a {
    padding-left: 5%;
  }
}

@media only screen and (max-width: 882px) {
  /* For mobile phones: */
  [class*="custom-col"] {
    width: auto;
  }
  .heading img {
    float: none;
    display: block;
  }
  .heading .contact {
    text-align: inherit;
    float: left;
    display: block;
    margin-top: 3px;
  }
  .heading .col.s5 {
    width: 100%;
    padding-left: 5%;
  }
  .heading .col.s7 {
    width: 100%;
    padding-left: 5%;
  }
  .heading .col.pull-s3 {
    right: unset;
  }
  .name {
    right: unset !important;
  }
  .heading .col.s10 {
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .heading img {
    width: 95%;
  }
  .heading .name {
    font-size: 40px;
  }
}

@media only screen and (min-width: 601px) {
  .small-card {
    height: 300px !important;
    position: relative !important;
  }

  .card.responsive-horizontal {
    display: flex;
  }
  .card.responsive-horizontal.small-card .card-image, .card.responsive-horizontal.medium .card-image, .card.responsive-horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
  }
  .card.responsive-horizontal.small-card .card-image img, .card.responsive-horizontal.medium .card-image img, .card.responsive-horizontal.large .card-image img {
    max-height: 100%;
    width: auto;
  }
  .card.responsive-horizontal .card-image {
    max-width: 50%;
  }
  .card.responsive-horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    width: auto;
    max-width: 100%;
  }
  .card.responsive-horizontal .card-stacked {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card.responsive-horizontal .card-stacked .card-content {
    flex-grow: 1;
  }
}

