h1 {
  font-family: 'Black Han Sans';
  font-size: 50px;
  color: #C25B56;
}

h4 {
  color: #EEEEEE;
  font-family: Raleway;
  font-size: 18px;
  font-STDOUTyle: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px.4px;
  margin-top: 0px;
}

h5 {
  color: #ADD6E9;
  font-family: Raleway;
  font-size: 10px;
  padding: 3px;
  margin: 0;
}

#home {
  background: #30415D;
}

.tabs {
  background: #30415D;
}

.tabs .tab a {
  color: #ADD6E9;
  text-overflow: unset;
}

.tab a:hover {
  color: #C25B56;
}

.tab .active {
  font-family: 'Black Han Sans';
  color: #C25B56;
}

.indicator {
  display: none;
}

img {
  width: 320px;
  float: right;
}

.contact {
  text-align: right;
  float: right;
  display: inline-block;
  margin-top: 3px;
}

.email {
  padding-bottom: 7%;
}

.name {
  right: 21% !important;
}

.section {
  padding-bottom: 0;
}

.vl {
  border-left: 1px solid white;
}

.tabs .tab {
  height: 35px;
  line-height: 35px;
}

.custom-col {
  width: 16.667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.heading {
  padding-bottom: 4%;
}

#publications .bibliography li {
  padding-bottom: 2%;
}

#publications h1, #group h1, #conferences h1 {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway';
  font-size: 30px;
  color: black;
  padding-bottom: 1%;
  margin-left: 5%;
}

#group ul {
  padding-left: 7%;
}

#group li {
  padding-bottom: 2%;
}

#group li a {
  color: black;
  text-decoration: underline;
}

.heading a {
  color: white;
  text-decoration: underline;
}

h4.about {
  width: 85%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 882px) {
  /* For mobile phones: */
  [class*="custom-col"] {
    width: auto;
  }
  .heading img {
    float: none;
    display: block;
  }
  .heading .contact {
    text-align: inherit;
    float: left;
    display: block;
    margin-top: 3px;
  }
  .heading .col.s5 {
    width: 100%;
    padding-left: 5%;
  }
  .heading .col.s7 {
    width: 100%;
    padding-left: 5%;
  }
  .heading .col.pull-s3 {
    right: unset;
  }
  .name {
    right: unset !important;
  }
  .heading .col.s10 {
    width: 100%;
  }
}

@media only screen and (max-width: 1559px) {
  .container {
    width: 75%;
  }
}

@media only screen and (max-width: 1450px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 1370px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 1166px) {
  .container {
    width: 100%;
  }
}
