---
---

{% if entry.comments %}
  <div class="comment semi-bold">
    {{entry.comments}}
    <span class='line' />
  </div>
{% endif %}

<div class='reference {% if entry.comments %}highlight{% endif %}'>
  <span class="left">
    {{reference}}
  </span>

  <span class="right">
    {% if entry.paperpdf %}
      <a href="{{ site.url }}{{site.baseurl}}/{{site.dir_papers}}/{{entry.paperpdf}}" target="_blank" class="waves-effect waves-teal btn btn-small">PDF</a>
    {% endif %}
    {% if entry.link %}
      <a href="{{entry.link | relative_url}}" target="_blank" class="waves-effect waves-teal btn btn-small">PDF</a>
    {% endif %}

  </span>
</div>
