<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href='https://fonts.googleapis.com/css?family=Black+Han+Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel='icon' href='/assets/images/favicon.ico' type='image/x-icon'/ >
</head>

<main>
  <div id="{{page.id}}">
    <section id="main_container">
      {{ content }}
    </section>
  </div>
</main>
