<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href='https://fonts.googleapis.com/css?family=Black+Han+Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Your awesome title</title>
</head>

<main>
    <div id="home" class="">
      <div class="section">
        <div class="container">
          <div class="row heading">
            <div class="col s5">
              <img src="assets/images/jake.png" alt="Jacob Abernethy">
              <div class="contact">
                <h5 class="email">prof_AT_gatech_DOT_edu</h5>
                <h5>2134 Klaus Advanced Computing</h5>
                <h5>Georgia Institute of Technology</h5>
                <h5>226 Ferst Drive NW</h5>
                <h5>Atlanta, GA 30332</h5>
              </div>
            </div>

            <div class="col s7">
              <h1 class="col s12 pull-s3 name">JACOB ABERNETHY</h1>
              <br>
              <h4 class="col s10 light">Currently an Assistant Professor in the
                <a href="https://www.scs.gatech.edu/" target="_blank">School of Computer Science</a> in the <a href="http://www.cc.gatech.edu" target="_blank">College of Computing</a> at the
                <a href="http://www.gatech.edu/" target="_blank">Georgia Institute of Technology</a>. </h4>
              </br>
              <h4 class="col s10 light">
                My research focus is Machine Learning, and I like discovering connections between Optimization,
                Statistics, and Economics. I finished my PhD at <a href="https://www.berkeley.edu/" target="_blank">UC Berkeley</a>
                with <a href="https://www.stat.berkeley.edu/~bartlett/" target="_blank">Peter Bartlett</a> in 2011, and I was a
                <a href="https://www.simonsfoundation.org/" target="_Blank">Simons postdoctoral fellow</a>
                with <a href="http://www.cis.upenn.edu/~mkearns/" target="_blank">Michael Kearns</a>
                for the following two years.</h5>
              </h4>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab custom-col s3"><a href="#group">RESEARCH GROUP</a></li>
                <li class="tab custom-col s3 vl"><a href="#publications">PUBLICATIONS</a></li>
                <li class="tab custom-col s3 vl"><a href="#conferences">CONFERENCES</a></li>
                <li class="tab custom-col s3 vl"><a href="#news">NEWS</a></li>
                <li class="tab custom-col s3 vl"><a href="#teaching">TEACHING</a></li>
                <li class="tab custom-col s3 vl"><a href="#fun_facts">FUN FACTS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding:20px;">
      <div id="blog" class="section">
        {% assign sections = site.sections | sort: 'order' %}
        {% for section in sections %}
          {% if section.include != null %}
            {% include {{ section.include }} %}
          {% else %}
            {% include sections/default.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script src="/assets/js/init.js"></script>
</main>
<footer class="page-footer">
    <div class="container">
      <img src="/assets/images/Georgia_Tech_logo.svg.png"></img>
      <a class="grey-text text-lighten-4 right" href="https://scholar.google.com/citations?user=FDu4ciwAAAAJ&hl=en" target="_blank">Google Scholar</a>
      <a class="grey-text text-lighten-4 right" href="https://github.com/thejakeyboy" target="_blank">GitHub</a>
      <a class="grey-text text-lighten-4 right" href="/pdf/Resume.pdf" target="_blank">Resume</a>
    </div>
</footer>

</html>
