<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link href='https://fonts.googleapis.com/css?family=Black+Han+Sans' rel='stylesheet'>
    <title>Your awesome title</title>
</head>

<body>
    <div id="home" class="">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col s5">
              <img src="assets/images/jake.png" alt="Jacob Abernethy">
              <div>
                <h5>jabernetATumichDOTedu</h5>
                <h5>3765 Bob and Betty Beyster Hall</h5>
                <h5>University of Michigan</h5>
                <h5>2260 Hayward St</h5>
                <h5>Ann Arbor, MI 48109</h5>
              </div>
            </div>

            <div class="col s7">
              <h1 class="header center teal-text text-lighten-2">Your awesome title</h1>
              <br>
              <h4 class="header col s12 light">Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.</h5>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#test1">Test 1</a></li>
                <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
              </ul>
            </div>
            <div id="test1" class="col s12">Test 1</div>
            <div id="test2" class="col s12">Test 2</div>
            <div id="test3" class="col s12">Test 3</div>
            <div id="test4" class="col s12">Test 4</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding:20px;">
      <div id="blog" class="section">
        <h3 style="text-align:center;">Blog</h3>
      </div>
    </div>

    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script src="/assets/js/init.js"></script>
</body>
<footer class="page-footer">
    <div class="footer-copyright" style="padding-left: 30px">
        <i class="material-icons" style="padding-right:5px">copyright</i>
        <p>2018 Copyright Your Name | All rights reserved</p>
    </div>
</footer>

</html>
