<!DOCTYPE html>
<html>

{% include head.html %}
<main>
  {% include navbar.html %}
    <div id="landing">
      <div class='left-section'>
        <img class='profile-pic' src={{'/assets/images/jake_profile.jpg' | relative_url }}></img>
        <div class=''>
          <h3>Recent News</h3>
          {{ content }}
        </div>
      </div>
      <div class='right-section'>
        <div class='intro'>
          <p>
            I am an Assistant Professor in the <a href='https://www.scs.gatech.edu/'>School of Computer Science</a>
            in the <a href='https://www.cc.gatech.edu/'>College of Computing</a> at the
            <a href='https://www.gatech.edu/'>Georgia Institute of Technology</a>.
          </p>
          <p>
            My research focus is Machine Learning, and I like discovering
            connections between Optimization, Statistics, and Economics.
            I finished my PhD at <a href='https://www.berkeley.edu/'>UC Berkeley</a> with
            <a href='https://www.stat.berkeley.edu/~bartlett/'>Peter Bartlett</a> in 2011,
            and I was a <a href='https://www.simonsfoundation.org/'>Simons postdoctoral</a>
            fellow with <a href='http://www.cis.upenn.edu/~mkearns/'>Michael Kearns</a>
            for the following two years.
          </p>
        </div>
        <div class='section-view-all'>
          <h3>Recent Publications</h3>
          <a href={{ '/publications' | relative_url }} class='bold'>
            view all
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class='publications'>
          {% bibliography -q @inproceedings[year>=2016] --max 5 --template bibliography-short --group_by none %}
        </div>
      </div>
    </div>
</main>
{% include footer.html %}
</html>
